.footer-wrapper {
  margin-top: 100px;
  padding: 80px 0 30px;
  background: #f7f8fc;
}

.footer-social {
  display: flex;
}

.footer-social li {
  list-style: none;
}

.footer-social li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #444444;
  background: #ffffff;
  margin-right: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
}

.footer-social li a:hover {
  color: #ffffff;
  background: #fa7436;
}

.footer-menu h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #222222;
}

.footer-nav ul li {
  list-style: none;
  padding-bottom: 5px;
}

.footer-nav ul li a {
  font-weight: 400;
  font-size: 18px;
  color: #666666;
}

.footer-wrapper hr {
  margin: 30px 0 !important;
  border-top: 1px solid #e7e7e7;
  opacity: 1;
}

.footer-copyright p {
  margin-bottom: 0;
}

.footer-copyright a {
  font-size: 16px;
  color: #666666;
}
