.error-btn a {
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  background: #fa7436;
  padding: 10px 20px;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
