table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

thead td {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  background: #f16945;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
